<!-- product-form.component.html -->
<h3>{{ productModel().id ? 'Editar Producto' : 'Agregar Producto' }}</h3>
<form [formGroup]="form" (ngSubmit)="submit()">
  <input type="hidden" formControlName="id">

  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input formControlName="name" type="text" class="form-control" />
  </div>

  <div class="mb-3">
    <label class="form-label">Descripción</label>
    <textarea formControlName="description" class="form-control"></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Precio</label>
    <input formControlName="price" type="number" class="form-control" />
  </div>

  <div class="mb-3">
    <label class="form-label">Cantidad</label>
    <input formControlName="quantity" type="number" class="form-control" />
  </div>

  <div class="mb-3">
    <label class="form-label">Stock</label>
    <input formControlName="stock" type="number" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary w-50">Guardar</button>
    <a class="btn btn-secondary w-50" (click)="reset()">Reset</a>

</form>
